body {
  background-image: url("http://medievalcostumesandgifts.com/images/product-images/wb_1001px_roman_helmet_ir80612d_v2_amz.jpg");
  background-size: cover;
}

#result {
  display: none;
  color: white;
}

button {
  margin-top: 10px !important;
}
